@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500,100,400,300,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'NewYork';
      src: url('../public/NewYork.otf');
   }
}

html {
   font-size: 12px;

   @media all and (min-width: 360px) {
      font-size: 16px;
   }
}