@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500,100,400,300,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'NewYork';
      src: url('../public/NewYork.otf');
   }
}

html {
   font-size: 12px;

   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
   }

   input[type=number] {
      appearance: textfield;
   }

   @media all and (min-width: 360px) {
      font-size: 16px;
   }

   @media all and (min-width: 768px) {
      font-size: 18px;
   }

   @media all and (min-width: 1440px) {
      font-size: 20px;
   }

   @media all and (min-width: 2560px) {
      font-size: 24px;
   }

   *:not(#roomsWrapper) {
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
         display: none;
      }
   }
}